body{
    background-color: aquamarine;
}
.Summar{
    color: blueviolet;
    font-family: tahoma;
    font-size: 30px;
}
.p1{
    color: blueviolet;
    font-size: 30px;
    font-family: tahoma;
}